@import './setting.scss';

$blue: #2E73D9;
$blue-light: #4597FF;

$orange: #FCA311;
$orange-accent: #FFCE56;
$orange-light: #FFE15A;

$grey-light: #E0E0E0;
$grey-accent: #F6F6F6;

.bg {
  &-blue {
    &-gradient {
      background: linear-gradient(45deg, $blue, $blue-light);
      button, span {
        color: white;
      }
      &:hover {
        background: $blue;
      }
    }
  }
  &-orange {
    background: $orange-accent;
    color: #202020;
    &-gradient {
      background: linear-gradient(180deg, $orange, $orange-light);
      button, span {
        color: white;
      }
      &:hover {
        background: $orange;
      }
    }
  }
  &-grey {
    &-light {
      background: $grey-light;
    }
  }
  &-white {
    background: #fff;
    color: $blue;
  }
}
