@import './vars';
.block-title-blue{
  display: flex;
  align-items: center;
  position: relative;
  color: $cobalt;
  font-size: 18px;
  line-height: 25px;
  &:before{
    content: '';
    display: block;
    width: 18px;
    height: 1px;
    background-color: $cobalt;
    margin-right: 8px;
  }
}
.content-field{
  padding: 10px;
  border-radius: 15px;
  background-color: $wild-sand;
}
.scroll{
  padding-right: 2rem;
  &::-webkit-scrollbar{
    width: 8px;
  }
  &::-webkit-scrollbar-track{
    background-color: $alto-2;
    border-radius: $bdrs;
  }
  &::-webkit-scrollbar-thumb{
    background: $gradient-scroll;
    border-radius: $bdrs;
  }
}
