@import '../../default.scss';
@import '../../color.scss';
@import '../../setting.scss';

.partner-view {
  grid-column: 1 / 6;
  &-container {
    background: white;
    padding: 4em 2.5em;
    border-radius: 15px;
    @include shadow;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4em;
  }
}

@media screen and (max-width: 900px) {
  .partner-view {
    &-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 700px) {
  .partner-view {
    grid-column: 1 / 13;
    margin-bottom: 3em;
  }
}