@import '../../setting.scss';
@import '../../default.scss';
@import '../../color.scss';

.box-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;

  .box {
    border-radius: 44px;
    @include shadow;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    min-width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-title {
      margin-top: 1em;
      font-size: 1.5em;
      width: 50%;
      text-align: center;
    }
    img {
      width: 35%;
    }
  }
  .icon {
    position: absolute;
    margin-left: 145px;
  }
}

@media screen and (max-width: 1200px) {
  .box-item {
    .box {
      min-width: 180px;
      height: 180px;
    }
    .icon {
      margin-left: 135px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .box-item {
    .box {
      min-width: 180px;
      height: 180px;
    }
    .icon {
      margin-left: 130px;
    }
  }
}

@media screen and (max-width: 1070px) {
  .box-item {
    .icon {
      margin-left: 120px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .box-item {
    .box {
      min-width: 180px;
      height: 180px;
    }
    .icon {
      display: none;
    }
  }
}

@media screen and (max-width: 900px) {
  .box-item {
    .box {
      min-width: 160px;
      height: 160px;
      &-title {
        font-size: 1.25em;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .box-item {
    .box {
      min-width: 140px;
      height: 140px;
      border-radius: 30px;
      &-title {
        font-size: 1em;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .box-item {
    .box {
      min-width: 120px;
      height: 120px;
    }
  }
}

@media screen and (max-width: 600px) {
  .box-item {
    .box {
      min-width: 100px;
      height: 100px;
      border-radius: 22px;
      &-title {
        font-size: 0.75em;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .box-item {
    .box {
      min-width: 80px;
      max-height: 80px;
      border-radius: 15px;
      &-title {
        width: 80%;
        font-size: 0.9em;
      }
      img {
        width: 30%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .box-item {
    .box {
      min-width: 70px;
      max-width: 70px;
      height: 70px;
      border-radius: 15px;
    }
  }
}

@media screen and (max-width: 374px) {
  .box-item {
    .box {
      min-width: 60px;
      height: 60px;
      border-radius: 15px;
    }
  }
}