@import '../../setting.scss';
@import '../../default.scss';
@import '../../color.scss';

.box-view {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  &-top {
    margin-bottom: 3em;
  }
  &-top,
  &-bottom {
    display: flex;
    justify-content: space-between;
  }

  img {
    position: absolute;
    @include transition;
    width: 50%;
  }
}

@media screen and (max-width: 2100px) {
  .box-view {
    img {
      position: absolute;
      @include transition;
      width: 54%;
    }
  }
}

@media screen and (max-width: 1900px) {
  .box-view {
    img {
      position: absolute;
      @include transition;
      width: 60%;
    }
  }
}

@media screen and (max-width: 1700px) {
  .box-view {
    img {
      position: absolute;
      @include transition;
      width: 65%;
    }
  }
}

@media screen and (max-width: 1500px) {
  .box-view {
    img {
      position: absolute;
      @include transition;
      width: 70%;
    }
  }
}

@media screen and (max-width: 1400px) {
  .box-view {
    img {
      position: absolute;
      @include transition;
      width: 75%;
    }
  }
}

@media screen and (max-width: 1300px) {
  .box-view {
    img {
      position: absolute;
      @include transition;
      width: 80%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .box-view {
    img {
      position: absolute;
      @include transition;
      width: 85%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .box-view {
    grid-auto-rows: minmax(80px, 160px);
  }
}

@media screen and (max-width: 800px) {
  .box-view {
    grid-auto-rows: minmax(80px, 140px);
    &-top {
      margin-bottom: 2em;
    }
    .pointer-line {
      position: absolute;
      top: -2em;
      left: 2em;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .box-view {
    grid-auto-rows: minmax(80px, 120px);
    margin-top: 2em;
    &-top {
      margin-bottom: 1em;
    }
  }
}

@media screen and (max-width: 500px) {
  .box-view {
    grid-auto-rows: minmax(80px, 110px);
    grid-gap: 1em;
    margin-top: 0;
    img {
      position: absolute;
      @include transition;
      width: 85%;
    }
  }
}